# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/**
!**/src/test/resources/**

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
.springBeans

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp
tmp/

# Documentation (User specific)
.docs/
